/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
ul,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ***** */
/* body */
/* ***** */
/* Body */
:root {
  /* --clr-background: #fbf7ee;
  --clr-header: hsl(0, 0%, 15%);
  --clr-header-light: hsl(0, 0%, 44%);
  --clr-accent: #436a58;
  --clr-accent-hovered: hsl(152, 23%, 20%);
  --clr-accent2: #f2b85e; */

  /* --clr-background: hsl(156, 12%, 92%);
  --clr-header: hsl(208, 28%, 24%);
  --clr-header-light: hsl(208, 28%, 64%);
  --clr-accent: hsl(32, 71%, 60%);
  --clr-accent-hovered: hsl(32, 71%, 40%);
  --clr-accent2: hsl(174, 27%, 65%); */

  /* --clr-background: hsl(156, 12%, 92%);
  --clr-header: #001730;
  --clr-header-light: hsl(211, 100%, 30%);
  --clr-accent: #4ad7d1;
  --clr-accent-hovered: hsl(177, 64%, 42%);
  --clr-accent2: hsl(177, 64%, 42%); */
  --clr-background: hsl(0, 0%, 100%);
  --clr-header: hsl(209, 100%, 16%);
  --clr-header-light: hsl(0, 0%, 50%); /* hsl(209, 100%, 56%) */
  --clr-button: hsl(0, 0%, 70%); /* hsl(209, 100%, 56%) */
  --clr-accent: hsl(209, 100%, 36%);
  --clr-accent-hovered: hsl(209, 100%, 16%);
  --clr-accent2: hsl(209, 100%, 56%);
}
[data-theme="dark"] {
  --clr-header-light: hsl(0, 0%, 70%);
  --clr-background: #161625;
  --clr-accent-hovered: hsl(209, 100%, 56%);
  --clr-button: hsl(0, 0%, 50%); /* hsl(209, 100%, 56%) */

  --clr-header: hsl(0, 0%, 100%);
  /* --clr-accent: hsl(209, 100%, 36%);
  --clr-accent-hovered: hsl(209, 100%, 16%);
  --clr-accent2: hsl(209, 100%, 56%); */
  /* --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab; */
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--clr-header);
  background: var(--clr-background);
}
.container {
  --max-width: 1200px;
  --padding: 3rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  margin: 0.5rem auto;
}
.grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
}
.section-title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

/* nav */
.header {
  padding-top: 1rem;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}
.theme-switch-wrapper {
  order: 3;
}
.nav-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}
.logo {
  color: var(--clr-accent);
  padding: 0;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  z-index: 3;
}
.nav-element {
  margin: 0 1vw;
  font-weight: 600;
}

.nav-element-link,
.nav-element-button {
  color: var(--clr-header);
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-element-link:hover,
.nav-element-link:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.book-button:hover,
.book-button:focus {
  background: var(--clr-accent-hovered);
}

.mobile-nav-toggle {
  background: none;
  border: none;
  display: none;
  position: relative;
}

.book-button {
  text-decoration: none;
}
.book-button,
button {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
}
/* nav dark mode */
.theme-switch-wrapper {
  order: 2;
  display: flex;
  align-items: center;
  margin: 0 1vw;
  /* em {
    margin-left: 10px;
    font-size: 1rem;
  } */
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--clr-accent);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle-icons {
  display: flex;
  justify-content: space-between;

  gap: 0.3rem;

  align-items: center;

  height: 23px;
  width: 23px;
  margin: 0 5px;
}

/* Hero */
.hero {
  margin: 5rem 0;
  max-height: 30rem;
  /* height: clamp(40rem, calc(100lvh - 64px), 100rem); */
  display: flex;
  align-items: center;
  /* height: clamp(calc(100vh - 1rem)); */
}
.hero-title {
  font-size: 3rem;
}
.hero-description {
  margin-top: 1rem;
  color: var(--clr-header-light);
}
.hebrew {
  /* text-decoration: 4px overline underline var(--clr-accent); */
  border-bottom: 4px solid var(--clr-accent);
  border-top: 4px solid var(--clr-accent);
}
.hero-buttons {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 0;
  position: relative;
  cursor: pointer;
}
/* .hero-buttons a {
  margin-top: 1rem;
} */
.hero-book {
  margin-right: 1rem;
  /* margin-bottom: 1rem; */
}
.book-button {
  background: var(--clr-accent);
  color: white;
}

.hero-learn-more {
  color: var(--clr-header);
  background: var(--clr-button);
  /* background: hsl(0, 0%, 70%); */
  text-decoration: none;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
}
.hero-learn-more:hover,
.hero-learn-more:focus {
  background: var(--clr-header-light);
}
.hero-image {
  display: flex;
  justify-content: center;
}
.hero-image img {
  width: clamp(1rem, 75%, 20rem);
  display: inline;
  /* margin: auto; */
  object-fit: contain;
  padding: 0;
}

/* About */
.about-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.about-text p {
  color: var(--clr-header-light);
  margin: 1rem 0;
  font-family: "Open Sans", sans-serif;
}
.about-text-hebrew {
  text-align: right;
}
.about-experience {
  margin-bottom: 2rem;
}

/* Options */
.options {
  margin-top: 5rem;
}

.options-card {
  margin: 2rem 0;
}
.options-card-title {
  margin-bottom: 0.5rem;
}
.options-card-detail {
  color: var(--clr-header-light);
  font-family: "Open Sans", sans-serif;
}

/* Testimonials */

.testimonials {
  margin-top: 5rem;
}

.testimonials-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;

  gap: 1rem;
}

.testimonials-card {
  background: var(--clr-accent2);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-card-title {
  font-size: 1.4rem;
}
.testimonials-card-lesson-count {
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-header);
}
.testimonials-card-description {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: var(--clr-background);
}
/* rates */
.rates {
  margin-top: 5rem;
}
.rates-title {
  font-size: 2rem;
}
.rate-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;

  gap: 1rem;
}
.rate {
  background: var(--clr-accent2);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: var(--clr-background);
}
.rate-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-header);
  text-align: center;
}
.rate-price {
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}
.rate .book-button:hover,
.rate .book-button:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: -3px;
  background: var(--clr-accent2);
}

/* Contact */
.contact {
  margin-top: 5rem;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: var(--clr-accent);
  /* font-family: Lusitana, serif; */
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: hsl(0, 0%, 90%);
  border-radius: 1rem;
  padding: 0 1rem;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  /* position: absolute; */
  /* left: 20px;
  bottom: 11px; */
  /* font-family: Lusitana, serif; */
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--clr-header-light);
  cursor: text;
  /* transition: transform 0.2s ease-in-out; */
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: var(--clr-accent);
  color: #fff;
  text-transform: uppercase;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
.contact-form .submit-btn:hover,
.contact-form .submit-btn:focus {
  background: var(--clr-accent-hovered);
}

/* footer */
footer {
  background: var(--clr-accent);
  margin: 0;
  margin-top: 5rem;
}
footer .logo {
  color: white;
  margin-top: 1rem;
}
footer .container {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 15rem; */
  gap: 2rem;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.socials img {
  width: 3rem;
}
.socials a {
  padding: 0 0.3rem;
}
.text p {
  font-weight: 400;
  font-size: 1.1rem;
  color: white;
  text-align: center;
}
.text a {
  color: var(--clr-header);
  background: var(--clr-button);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
}
.text a:hover,
.text a:focus {
  background: var(--clr-accent);
  color: var(--clr-header);
  outline: 3px solid var(--clr-header-light);
  outline-offset: -3px;
}
.no-break {
  white-space: nowrap;
}

/* nav mobile first */
@media (max-width: 60em) {
  .nav-list {
    margin-top: 2rem;
  }
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    z-index: 2;
    order: 3;
    /* position: fixed;
    top: 1rem;
    right: 1rem; */
  }
  .icon-close[data-visible] {
    display: none;
  }
  .nav {
    display: none;
  }
  body[data-visible] {
    overflow: hidden;
  }
  .nav[data-visible] {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    background: var(--clr-button);
    /* opacity: 50%; */
    /* border: 5px solid var(--clr-header); */
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
}

@media (min-width: 50em) {
  .hero .grid {
    grid-auto-columns: 1.5fr 1fr;
    grid-auto-flow: column;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  /* footer */
  footer .container {
    flex-direction: row;
    height: 10rem;
    justify-content: space-between;
    margin-bottom: 0;
  }
  footer .logo {
    color: white;
    margin-top: 0rem;
  }
  footer .socials {
    margin-bottom: 0;
  }
  /* contact */
  .row {
    margin: -20px 0;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box;
  }
  .row .col.x-50 {
    width: 50%;
  }
  .row .col.x-100 {
    width: 100%;
  }
}

/* Main Media Query */
@media (min-width: 60em) {
  .grid {
    gap: 0 5rem;
  }
  .container {
    padding: 0 2rem;
  }
  /* nav */
  .logo {
    font-size: 2rem;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }
  /* about */
  .about-text-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  .about-text {
    max-width: 60%;
  }
  .about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  /* testimonials */
  .testimonials-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
